/* This code sets the layout and styling for a webpage, including a full-screen background color, a colored element at the bottom, and a white overlay. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Belanosima", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
}

#main {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Belanosima", sans-serif;
  font-family: "Ysabeau SC", sans-serif;
}

#fs {
  width: 100%;
  height: 100%;
  background-color: rgb(52, 52, 52);
}

.text-parent {
  display: block;
  overflow: hidden;
}

.text-child {
  display: block;
  transform: translate(0, 100%);
}

#elem {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 0px;
  background-color: aquamarine;
}

#white {
  width: 100%;
  height: 0;
  position: absolute;
  bottom: 0;
  background-color: #dadada;
}
