/* The code snippet sets up the styling for a webpage. It sets the margin, padding, font family, and box-sizing for all elements. It also sets the width and height for the html and body elements. It defines the styles for the #main */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Belanosima", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
}

#home {
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0;
}

#home #nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  width: 100%;
  height: 100px;
}

#nav a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

#nav a .line {
  position: absolute;
  bottom: 0;
  display: inline-block;
  height: 1px;
  background-color: black;
}

#line2 {
  left: 0;
  width: 0;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  transition-delay: .1s;
}

#line1 {
  right: 0;
  width: 100%;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#nav a:hover #line2 {
  width: 100%;
}

#nav a:hover #line1 {
  width: 0;
}
