/* Task 7 */
#downloadcapsule {
  width: 300px;
  height: 10px;
  background-color: #dadada;
  border-radius: 100px;
}

#progress {
  width: 0;
  height: 100%;
  background-color: rgb(65, 180, 65);
  border-radius: 100px;
}
