* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy-Regular", sans-serif;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background: rgb(15, 15, 15);
}

#page1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgb(117, 117, 217);
}

#page2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgb(203, 122, 163);
}

#circle {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: linear-gradient(red, blue);
  border: 2px solid rgb(255, 255, 255);
}
